body{
    margin:0;/* it is used for margin */
    padding:0;/*it is use for the border to text */
    background-color: rgb(188, 126, 245);/*it is  use for boy color*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login{
    width: 300px;
    margin:auto;
    margin:20 0  0 450px;
    padding:80px;background: #1f4c43;
    border-radius: 20px;
    
}
h2{
    text-align:center;
}
label{
    color:aqua
}
#Uname{
    width:300px;
    height: 30px;
    border:none;
    border-radius:2px;
    padding-left:8px;


}
#pass{
    width:300px;
    height:30px;
    border:none;
    border-radius: 3px;
    padding-left: 8px;
}
#log{
    width:300px;
    height:30px;
    border;none;
    border-radius: 17px;
    padding-left: 6px;
    color:blue;
}
span{
    color:rgb(223, 126, 8);
    font-size:17px;}

 a{
    float:right;
    background-color: burlywood;
 }
 pass:hover{
    color: blue;
 }
    


 




